env:
  PROJECT_NAME: server

name: Test Deploy

  
on:
  release:
    types: [push]
  push:
    branches: [main]
  workflow_dispatch:
  
jobs:
  build: 
    runs-on: ubuntu-latest
    permissions: 
      contents: read 
      packages: write  

    steps:
    - name: Checkout 
      uses: actions/checkout@v3   
      
    - name: Set up JDK 11 
      uses: actions/setup-java@v3 
      with:
        java-version: '11' 
        distribution: 'temurin' 
        
        
#     - name: Server Build 
#       run: |
#         mkdir -p app
#         cd server/
#         chmod +x ./gradlew 
#         ./gradlew clean build -x test
#         cd ..
#         cp server/build/libs/*.jar app/
#       shell: bash
      
    
    - name: Cleint Build
      run : |
        cd client/
        npm install
        npm run build
        cd ..
        cp -r client/build/ app/
      shell: bash
       
        
    - name: Make zip file
      run: 
         zip -r deploy.zip ./app
      shell: bash
        
    
        
#     - name: SSH Deploy
#       uses: easingthemes/ssh-deploy@v2.2.11
#       with:
#         SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
#         REMOTE_HOST: ${{ secrets.SERVER_HOST }}
#         REMOTE_USER: ${{ secrets.SERVER_USER_NAME }}
#         REMOTE_PORT: ${{ secrets.SERVER_PORT }}
#         SOURCE: deploy.zip
#         TARGET: /home/ward/
        
#     - name: executing remote ssh commands using ssh key
#       uses: appleboy/ssh-action@master
#       with:
#         host: ${{ secrets.SERVER_HOST }}
#         username: ${{ secrets.SERVER_USER_NAME }}
#         key: ${{ secrets.SERVER_SSH_KEY }}
#         port: ${{ secrets.SERVER_PORT }}
#         script: sh ward.sh
